* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Pangolin", "cursive";
  font-weight: 400;
  font-style: normal;
}

body {
  background: url(../images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: "Indie Flower", "Comic Sans", cursive;
  height: 100vh;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}


.hide {
  display: none;
}

.position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.game-container .status {
  color: black;
  font-size: 22px;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.button-game button {
  padding: 5px 10px;
  margin-right: 15px;
}

.button-game button:hover,
.btn-primary:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

#reset-btn:hover,
#return-home-btn:hover,
#countinue:hover {
  background-color: #ff6347;
  color: #fff;
}

.heading-form-controll {
  white-space: nowrap;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(135deg, #ff6a00, #ee0979);
  margin-bottom: 8px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: fit-content;
}

.score div {
  padding: 2px 12px;
  min-width: 20px;
  text-align: center;
}

.score span {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

/* login */

.form-label {
  display: block;
  text-align: left;
}

.home-control {
  margin-top: 70px;
}
.wellcome-user {
  margin-top: 50px;
}
#rank-view {
  margin-top: 30px;
  
}

.rank-btn {
  background-color: gold;
  color: #000;
}

.rank-btn:hover {
  opacity: 0.8;
  background-color: gold;
  color: #000;
}